html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    margin: 0;
}

.header{
    margin: 0;
    text-align: center;
    background-color: #ee6055;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}


.recipes-list{
    margin-top: 0;
    padding: 0;
    background-color: #60d394;
}

.recipes-item{
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.recipes-item:hover{
    background-color: #aaf683;
}


a{
    color: #000;
    text-decoration: none;
    display:block;
}


